
.new-user-registration, .page-heading{
    background-color: lightyellow;
    text-align: center;
}
.field{
    margin-top: 20px;
    text-align: center;
}
.actions{
    text-align: center;
    margin-top: 30px;
}
.user-btn{
    background-color: white;
}